.body {}
.jumbotron {
	height:300px;
	width:100%;
	background-image: url('images/blacklong.JPG');
	background-position: center;
	background-repeat:no-repeat;
	background-color:#ffffff;
	background-size: cover;
		padding-top: 30px;
  padding-bottom: 48px;
	}
.jumbotron h1{
	font-family:tahoma;
	color:#ffffff;
}
