.body {}
.jumbotron {
	height:300px;
	width:100%;
	background-image: url('images/pink.JPG');
	background-position: center;
	background-repeat:no-repeat;
	background-color:#ffffff;
	background-size: cover;
		padding-top: 30px;
  padding-bottom: 48px;
	}
.jumbotron h1{
    font-size: 90px;
    margin-top: 2px;
    margin-bottom: 5px;
	font-family:impact;
	color: #2E8B57;
}
.jumbotron p{
	color:black;
}

